body {
    color: #1b1e23;
    font-size: small;
    font-family: sans-serif;
    height: calc(100vh - 2em);
    margin: 1em;
    display: flex;
}

body > * {
    flex: auto;
}

.domain, .gridline-y, .gridline-x, .annotation-line>line {
    stroke: currentColor;
    stroke-opacity: 0.1;
}
.webgl-plot-area.plot-area{
    height: 80vh;
}
rect {
    fill: rgba(0, 255, 0, 0.1);
    stroke: rgb(192, 192, 192);
    stroke-width: 0.5;
}
svg {
    border: 1px solid rgb(192, 192, 192);
    margin-left: auto;
    margin-right: auto;
    display: block;
}